<a href="https://colab.research.google.com/github/NouraBader-45/IT326-Obesity/blob/main/Phase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Project Goal
The goal of this project is to **Classfy individuals into 7 obesity levels** based on lifestyle habits, and apply **Clustering** to find hidden patterns.

# Dataset Source
We obtained the data from **Kaggle**
[Obesity Levels Dataset](https://www.kaggle.com/datasets/fatemehmehrparvar/obesity-levels?resource=download)

It provides data on obesity levels among individuals from Mexico, Peru and Colombia, detailing their dietary habits and physical condition.

**Load and Display the Dataset**

In [ ]:
import pandas as pd
# Loading dataset
df = pd.read_csv("Raw_dataset.csv")
#To make sure it works
display (df)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.000000,Female,1.620000,64.000000,no,no,2.0,3.0,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,21.000000,Female,1.520000,56.000000,Sometimes,no,3.0,3.0,yes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,23.000000,Male,1.800000,77.000000,Frequently,no,2.0,3.0,no,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
3,27.000000,Male,1.800000,87.000000,Frequently,no,3.0,3.0,no,no,2.000000,no,2.000000,0.000000,Sometimes,Walking,Overweight_Level_I
4,22.000000,Male,1.780000,89.800000,Sometimes,no,2.0,1.0,no,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

**Number of attributes (columns) :**

In [ ]:
print(df.shape[1])

17

**OR using this to find Number and data types of attributes (columns)**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             2111 non-null   float64
 1   Gender                          2111 non-null   object
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   CALC                            2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   SCC                             2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  family_history_with_overweight  2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CAEC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

**Number of objects (rows) :**

In [ ]:
df.shape[0]

2111

**How Many Times Each Category Appears and Its Percentage**

In [ ]:
# Class Attribute Name
Class_attribute='NObeyesdad'

# Class Attribute Counting the Value
value_count= df[Class_attribute].value_counts()
#value_counts()shows counts how many times each unique value occurs
# when count () just counts how many non-empty rows are
print(value_count)

print("\nPercentages :\n", df[Class_attribute].value_counts(normalize=True) * 100)

NObeyesdad
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

Percentages :
 NObeyesdad
Obesity_Type_I         16.627191
Obesity_Type_III       15.348176
Obesity_Type_II        14.069162
Overweight_Level_I     13.737565
Overweight_Level_II    13.737565
Normal_Weight          13.595452
Insufficient_Weight    12.884889
Name: proportion, dtype: float64

**Print Sample of the raw data**

In [ ]:
print("Sample of the raw dataset:")
print(df.head(10))

Sample of the raw dataset:
    Age  Gender  Height  Weight        CALC FAVC  FCVC  NCP  SCC SMOKE  CH2O  \
0  21.0  Female    1.62    64.0          no   no   2.0  3.0   no    no   2.0
1  21.0  Female    1.52    56.0   Sometimes   no   3.0  3.0  yes   yes   3.0
2  23.0    Male    1.80    77.0  Frequently   no   2.0  3.0   no    no   2.0
3  27.0    Male    1.80    87.0  Frequently   no   3.0  3.0   no    no   2.0
4  22.0    Male    1.78    89.8   Sometimes   no   2.0  1.0   no    no   2.0
5  29.0    Male    1.62    53.0   Sometimes  yes   2.0  3.0   no    no   2.0
6  23.0  Female    1.50    55.0   Sometimes  yes   3.0  3.0   no    no   2.0
7  22.0    Male    1.64    53.0   Sometimes   no   2.0  3.0   no    no   2.0
8  24.0    Male    1.78    64.0  Frequently  yes   3.0  3.0   no    no   2.0
9  22.0    Male    1.72    68.0          no  yes   2.0  3.0   no    no   2.0

  family_history_with_overweight  FAF  TUE       CAEC                 MTRANS  \
0                            yes  0.0  1.0  Sometimes  Public_Transportation
1                            yes  3.0  0.0  Sometimes  Public_Transportation
2                            yes  2.0  1.0  Sometimes  Public_Transportation
3                             no  2.0  0.0  Sometimes                Walking
4                             no  0.0  0.0  Sometimes  Public_Transportation
5                             no  0.0  0.0  Sometimes             Automobile
6                            yes  1.0  0.0  Sometimes              Motorbike
7                             no  3.0  0.0  Sometimes  Public_Transportation
8                            yes  1.0  1.0  Sometimes  Public_Transportation
9                            yes  1.0  1.0  Sometimes  Public_Transportation

            NObeyesdad
0        Normal_Weight
1        Normal_Weight
2        Normal_Weight
3   Overweight_Level_I
4  Overweight_Level_II
5        Normal_Weight
6        Normal_Weight
7        Normal_Weight
8        Normal_Weight
9        Normal_Weight

**Check for missing values**

In [ ]:
print("\nMissing values:\n", df.isnull().sum())

Missing values:
 Age                               0
Gender                            0
Height                            0
Weight                            0
CALC                              0
FAVC                              0
FCVC                              0
NCP                               0
SCC                               0
SMOKE                             0
CH2O                              0
family_history_with_overweight    0
FAF                               0
TUE                               0
CAEC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64